
<p>Estimado <%= @petition.creator_name %></p>

<p>
  Nos da mucho gusto hayas decidido utilizar nuestra plataforma para impulsar tu petición.
</p>

<p>
  Este es el <%= link_to 'link', public_petition_url(@petition.public_fragment) %> que tienes que compartir para que la gente firme tu petición, compártelo con quién tu quieras.
</p>

<p>
  Este es el <%= link_to 'link', private_petition_url(@petition.private_fragment) %> para que puedas monitorear el avance de tu petición y bajar la lista de firmantes. No compartas este link con nadie.
</p>

<p>
  Saludos,<br />
  El Equipo de Mifiel
</p>
