<h1>Firmantes</h1>
<h2><%= @petition.title %></h2>

<div class="row">
  <div class="col-xs-12">
    <table clas="table table-striped">
      <tr>
        <th>Nombre</th>
        <th>RFC</th>
      </tr>
    </table>
  </div>
</div>
<br>
<%= link_to 'Regresar a la petición', private_petition_path(@petition.private_fragment) %>
