
  <div class="modal-dialog" id="ife-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h1 class="modal-title">Encuentra los campos solicitados en tu credencial de elector</h1>
      </div>
      <div class="modal-body">
          <h2>Modelo A</h2>
          <%= image_tag("ife_viejo.png", :alt => "ife modelo A", :class => "img-responsive") %>
          <h2>Modelo B</h2>
          <%= image_tag("ife_nuevo.png", :alt => "ife modelo A", :class => "img-responsive") %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
