@import "bootstrap-sprockets";
@import "bootstrap";

span#question-icon {
  color: #02B875 !important;
  font-size: 135%;
    text-decoration:none;
  border:0;
  outline:none;
}

div#ife-modal {
  width: 60%;
}

.icon-question-class:active, 
.icon-question-class:focus, 
.icon-question-class:hover{   
    outline:none !important;
}


  .image-picker {
  cursor: pointer;
  width: 500px;
  background: #eee;
  
}

.image-picker__element {
  img{
    border-width:5px;
    border-color:rgba(0,0,0,0);
    border-style: solid;
  }
  float: left;
}

.image-picker__element--selected {
  img{
    background: #02B875 !important;
    padding: 6px;
    border: 4px solid #dddddd;
    display: block;
    padding: 4px;
    line-height: 20px;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
  }
}
